<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Bimbel SCS" 
    />
    <meta name="keywords" content="restaurant, plugin, food, dine" />
    <title>Bimbel SCS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header id="app"></header>
    <main id="maincontent">
      <section id="restaurant-list"></section>
    </main>
    <footer>
      <p>© 2024 My BIMBEL SCIENTISTS 2006</p>
    </footer>
  </body>
</html>



